<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.saveeat">



    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />


    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
        </intent>
    </queries>

    <application
        android:name="com.saveeat.base.BaseApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/app_icon_main"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/app_icon_circle"
        android:supportsRtl="true"
        android:theme="@style/Theme.SaveEat"
        android:usesCleartextTraffic="true">

        <activity
            android:name="com.saveeat.ui.activity.order.checkout.CheckoutActivity"
            android:theme="@style/white_theme"
            android:screenOrientation="portrait"
            ></activity>
        <activity
            android:name="com.saveeat.ui.activity.order.status.OrderStatusActivity"
            android:theme="@style/white_theme"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.saveeat.ui.activity.drawer.payment.PaymentActivity"
            android:theme="@style/white_theme"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.saveeat.ui.activity.drawer.location.HiddenLocationActivity"
            android:theme="@style/white_theme"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.saveeat.ui.activity.drawer.reward.RewardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/light_oragne_theme" />
        <activity
            android:name="com.saveeat.ui.activity.drawer.drawer.DrawerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/light_oragne_theme" />
        <activity
            android:name="com.saveeat.ui.activity.drawer.help.HelpActivity"
            android:theme="@style/white_theme"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.saveeat.ui.activity.drawer.credit.CreditActivity"
            android:theme="@style/white_theme"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.saveeat.ui.activity.drawer.history.OrderHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/white_theme"
            />
        <activity
            android:name="com.saveeat.ui.activity.menu.detail.MenuDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/white_theme" />
        <activity
            android:name="com.saveeat.ui.activity.menu.menu.MenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/white_theme" />
        <activity
            android:name="com.saveeat.ui.activity.profile.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/white_theme" />
        <activity
            android:name="com.saveeat.ui.activity.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/white_theme" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_api" />

        <activity
            android:name="com.saveeat.ui.activity.location.ChooseAddressActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"

            android:theme="@style/white_theme" />
        <activity
            android:name="com.saveeat.ui.activity.auth.otp.OTPVerificationActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/light_oragne_theme" >
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED"/>
            </intent-filter>

        </activity>
        <activity
            android:name="com.saveeat.ui.activity.auth.password.PasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/light_oragne_theme" />
        <activity
            android:name="com.saveeat.ui.activity.auth.signup.SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/light_oragne_theme" />
        <activity
            android:name="com.saveeat.ui.activity.auth.forgot.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/light_oragne_theme" />
        <activity
            android:name="com.saveeat.ui.activity.auth.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/light_oragne_theme" >




        </activity>
        <activity
            android:name="com.saveeat.ui.activity.walkthrough.WalkThroughActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/light_oragne_theme" />
        <activity
            android:name="com.saveeat.ui.activity.splash.SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/splashScreenTheme">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>



        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />

    </application>

</manifest>